WebLogApp/obj/
WebLogApp/node_modules/
WebLogApp/bower_components/
WebLogApp/typings/
WebLogApp/bin/
WebLogApp/wwwroot/lib/
WebLogApp/wwwroot/app/**/*.js
WebLogApp/wwwroot/app/**/*.map
WebLogApp/wwwroot/framework/**/*.js
WebLogApp/wwwroot/framework/**/*.map
WebLogApp/wwwroot/temp/
WebLogBase/obj/
WebLogBase/bin/
WebLogApp/appsettings.development.json
WebLogApp/appsettings.production.json
WebLogApp/Properties/PublishProfiles/
