@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@{ 
    ViewBag.Title = "WebLog";
}

<weblog-app>
    <div class="loading">@Localizer["Loading"]</div>
</weblog-app>

@section customScript {
    System.import("app").catch(console.log.bind(console));
    $(document).ready(function () {
        $(".fancybox").fancybox();
    });
}