<div id="group-list" name="group-list" tabContent>
    <button type="button" class="btn btn-default" (click)="new()" actionButton>{{'New' | translate}}</button>
    <button [disabled]="!_selectedKey" type="button" class="btn btn-default" (click)="modify()" actionButton>{{'Modify' | translate}}</button>

    <hr />
    <grid [list]="_groups">
        <grid-column field="Id" hidden="true" key="true"></grid-column>
        <grid-column field="Groupname" width="180" caption="system.account.group.Groupname"></grid-column>
        <grid-column field="Addusername" width="80" caption="Creator"></grid-column>
        <grid-column field="Adddate" width="170" caption="CreatedAt" format="DT"></grid-column>
    </grid>
</div>

<groupEditModal #editModal></groupEditModal>