<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target xsi:type="File" name="infoFile"
            fileName="Logs/webappinfo-${cached:cached=true:inner=${date:format=yyyyMMdd}}.log"
            layout="${longdate} ${aspnet-traceidentifier} [${level:uppercase=true}] ${message}" />
    <target xsi:type="File" name="logFile"
            fileName="Logs/webapplog-${cached:cached=true:inner=${date:format=yyyyMMdd}}.log"
            layout="${longdate} ${aspnet-traceidentifier} [${level:uppercase=true}] ${logger}${newline}${message}${newline}${exception}${newline}${stacktrace}" />
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Trace" maxlevel="Info" writeTo="infoFile" />-->
    <logger name="*" minlevel="Warn" writeTo="logFile" />
  </rules>
  
</nlog>