@blueBase: hsl(207.3, 56.4%, 45.9%);
@lightBlue: lighten(desaturate(@blueBase, 5%), 9.5%);
@lightestBlue: lighten(saturate(@blueBase, 0.8%), 22%);
@darkBlue: darken(saturate(@blueBase, 24.5%), 9%);
@darkestBlue: darken(saturate(@blueBase, 31%), 19%);

@greenBase: #009688;
@lightGreen: #20A294;
@lightestGreen: #42B2A6;
@darkGreen: #00776A;
@darkestGreen: #005D53;