<div id="user-list" name="user-list" tabContent>
    <button type="button" class="btn btn-default" (click)="new()" actionButton>{{'New' | translate}}</button>
    <button [disabled]="!selectedKey" type="button" class="btn btn-default" (click)="modify()" actionButton>{{'Modify' | translate}}</button>

    <grid [list]="list">
        <grid-column field="Id" hidden="true" key="true"></grid-column>
        <grid-column field="Userid" width="80" caption="system.account.user.UserID"></grid-column>
        <grid-column field="Username" width="180" caption="system.account.user.Username"></grid-column>
        <grid-column field="Passwdexpr" width="100" caption="system.account.user.PasswordExpires" format="D"></grid-column>
        <grid-column field="Addusername" width="180" caption="Creator"></grid-column>
        <grid-column field="Adddate" width="170" caption="CreatedAt" format="DT"></grid-column>
    </grid>
</div>