<modal id="editModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true" [backdrop]="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="_close()">x</button>
        <h1 class="text-center">
            <span class="fa-stack fa-1x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i *ngIf="_userId" class="fa fa-user fa-stack-1x fa-inverse"></i>
                <i *ngIf="!_userId" class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
            </span>
        </h1>
    </div>
    <div class="modal-body" style="overflow: auto;">
        <form class="form col-md-12 center-block" #editForm="ngForm">
            <textbox id="userid" name="userid" placeholder="User ID" [(ngModel)]="_user.Userid" [errorDefs]="{required: 'User ID is required'}"></textbox>
            <textbox id="username" name="username" placeholder="Username" [(ngModel)]="_user.Username" [errorDefs]="{required: 'Username is required'}"></textbox>
            <textbox id="password" name="password" placeholder="Password" password [(ngModel)]="_user.Password" [errorDefs]="{required: 'Password is required'}"></textbox>
            <textbox id="_confirmPassword" name="_confirmPassword" placeholder="Confirm" password [(ngModel)]="_user.ConfirmPassword" #_confirmPassword="ngModel" 
                     [errorDefs]="{required: 'Confirm is required',
                                   match: { message: 'Confirm doesn\'t match with the Password', fn: isConfirmMatches.bind(this) }
                     }"></textbox>
            <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block" (click)="save()" [disabled]="!editForm.form.valid">Save</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="col-md-12">
            <a class="btn btn-danger pull-left" (click)="_close()" data-dismiss="modal" aria-hidden="true">Cancel</a>
        </div>
    </div>
</modal>