<div id="user-group-assign" name="user-group-assign" parentId="user-list" availableId="availableList" assignedId="assignedList" assignTabContent>
    <button [disabled]="!availableSelectedKey" type="button" class="btn btn-default" (click)="assign()" actionButton>{{'Assign' | translate}}</button>
    <button [disabled]="!assignedSelectedKey" type="button" class="btn btn-default" (click)="unassign()" actionButton>{{'Unassign' | translate}}</button>

    <grid [list]="availableList" id="availableList" height="40">
        <grid-column field="Id" hidden="true" key="true"></grid-column>
        <grid-column field="Groupname" width="180" caption="system.account.group.Groupname"></grid-column>
    </grid>
    <grid [list]="assignedList" id="assignedList" height="60">
        <grid-column field="Id" hidden="true" key="true"></grid-column>
        <grid-column field="Groupname" width="180" caption="system.account.group.Groupname"></grid-column>
    </grid>
</div>